body {
  background-color: darkgray;
}
h1 {
  text-align: center;
}

.container {
  border: 1px solid;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 20%;
  border-radius: 10px;
  gap: 10px;
}
