* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: darkgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-- icon style --*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

/* container CSS */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100vh;
}
/* punkt 1 CSS */
.time-date {
  /*grid-column: 1 / span 3;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10%;
  width: 300px;
  background-color: lightgray;
  border-radius: 30px;
  padding: 3px 30px;
  gap: 20px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(105, 6, 6, 0.2);
}
/* punkt 2 CSS */
.titel {
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#nameInput {
  font-size: 3rem;
  text-align: center;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  color: black;
}

/* punkt 3 CSS */

.quick-links {
  grid-column: 1 / span 3;
  border-radius: 10px;
  background-color: lightgray;
  gap: 25px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.inputBox {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.ulList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 10px;
}
.ulList a {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 50px;
  color: black;
  display: block;
}
.list-group-item {
  display: flex;
  background-color: white;
  gap: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.delBtn {
  border: 1px solid darkgray;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

#linkInput {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 10px;
}
/*
#linkInput.textarea:focus {
  background-color: darkgray;
}
*/

/* punt 4 CSS */
.weather-report {
  grid-column: 1 / span 3;
  display: flex;
  border-radius: 10px;
  gap: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.weather-icon {
  width: 4rem;
  height: 4rem;
}
.first,
.second,
.third {
  border-radius: 10px;
  padding: 10px 1rem;
  display: flex;
  background-color: white;
  gap: 50px;
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.first h4,
.second h4,
.third h4 {
  padding-bottom: 10px;
}
.current-weather {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.current-weather p {
  background-color: rgb(234, 232, 232);
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.weather-info {
  display: flex;
  flex-direction: column;
}

/* punt 5 CSS */
.bored-api {
  grid-column: 1 / span 3;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.header {
  text-align: center;
  padding: 20px 0;
  gap: 10px;
}
.header h2 {
  padding-bottom: 10px;
}
.boredInput {
  padding-left: 10px;
}
.boredInput p {
  padding: 10px;
}
.boredInput a {
  text-decoration: none;
  color: #3a86ff;
  border-bottom: 1px solid #3a86ff;
}

/*------- punkt-6 ----------*/
.notes {
  grid-column: 1 / span 3;
  border-radius: 10px;
  gap: 25px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
#userNotes {
  background-color: aliceblue;
  border-radius: 10px;
  border: none;
  padding: 10px;
  line-height: 1.3rem;
  font-size: 1.1rem;
}

/* punkt 7 CSS */
.change-background {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 8px 15px;
  border: none;
}
.change-background-btn {
  cursor: pointer;
  padding: 8px 15px;
  border: none;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  color: white;
}
#choose-background {
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
}

/*----- media query-------*/
@media (min-width: 768px) and (max-width: 2220px) {
  body {
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 150px 350px 100px;
    width: 100;
    height: 100vh;
  }
  .time-date {
    grid-column: 1 / span 4;
    height: 50px;
    gap: 50px;
    margin: 0 38%;
  }
  .titel {
    grid-column: 1 / span 4;
    height: 0;
    margin-bottom: 0;
  }
  .titel {
    margin-top: 100px;
    margin-bottom: 10px;
    height: 0;
  }
  .quick-links {
    grid-column: 1 / span 1;
  }
  .weather-report {
    grid-column: 2 / span 1;
  }
  .bored-api {
    grid-column: 3 / span 1;
  }
  .notes {
    grid-column: 4 / span 1;
  }
  .change-background {
    grid-column: 1 / span 4;
    margin: 0 auto;
  }
}
